.active {
    background-color: #111;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 5px;
  }

li.nonactive {
    color: white;
    float: left;
    display: block;
    padding: 14px 16px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
}

li.active {
    color: white;
    float: left;
    display: block;
    padding: 14px 16px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
}

.nonactive:hover {
    background-color: #222;
}

.trademark:hover {
    background-color: #222;
}

li.trademark {
    color: white;
    float: right;
    display: block;
    padding: 14px 16px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
}

.instapic {
    float: left;
    cursor: pointer;
}

body {
    background-color: black;
}

.welcome {
    overflow-wrap: break-word; color: white; text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.divbox {
    text-align: center; 
    border: 2px solid white; 
    width: 60em; 
    height: 50em; 
    margin: auto; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.twitchimg:hover {
    cursor: pointer;
}